<nz-layout>
  <nz-sider *ngIf="eclipseView" nzTheme="light"
    [nzWidth]="80" class="project-shell__nav-sider" [nzTrigger]="null">
    <ul #sidebar nz-menu class="project-shell__nav-sider__content" nzTheme="light" nzMode="vertical" translate
      *ngIf="currentClient" [ngClass]="showHide">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="routeDashboard" class="project-shell__vertical-menu-item">
          <i aria-hidden="true" nz-icon nzType="dashboard" nzTheme="outline"></i>
          <span translate>navigation.dashboard</span>
        </a>
      </li>
      <li nz-submenu #submenu [nzOpen]="handleSubMenuOpen('metricsSubMenu')" [nzTitle]="titleMetricsTpl">
        <ul nz-menu-group nzTitle="{{ 'metrics.menuItem' | translate}}:">
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeSummary" translate>metrics.summary.menuItem</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeTechnologies" translate>metrics.technologies.menuItem</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeUtilities" translate>metrics.utilities.menuItem</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeInterfaces" translate>metrics.interfaces.menuItem</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeSqlDecomposition" translate>metrics.sqlDecomposition.menuItem</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeIMS" translate>metrics.ims.menuItem</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeAppDecomposition" translate>metrics.applicationDecomposition.menuItem</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeCodeQuality" translate>metrics.codeQuality.menuItem</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeRuleCandidates" translate>metrics.ruleCandidates.menuItem</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item [nzSelected]="isCurrentRouteModuleRelated()">
        <nz-badge class="project-shell__warning-badge" [nzCount]="iconTemplate" *ngIf="isShowLastScanBadge">
          <a class="project-shell__vertical-menu-item" [routerLink]="routeModules">
            <i aria-hidden="true" nz-icon nzType="build" nzTheme="outline"></i>
            <span translate>navigation.modules</span>
          </a>
        </nz-badge>
        <a class="project-shell__vertical-menu-item" [routerLink]="routeModules" *ngIf=" ! isShowLastScanBadge">
          <i aria-hidden="true" nz-icon nzType="build" nzTheme="outline"></i>
          <span translate>navigation.modules</span>
        </a>
      </li>
      <ng-template #iconTemplate>
        <i aria-hidden="true" nz-tooltip nz-icon [nzTheme]="'fill'" nzType="exclamation-circle"
          class="ant-helper__warning-icon project-shell__warning-badge-icon" [nzTooltipTitle]="modulesWarningToolTipText">
        </i>
      </ng-template> 
      <li nz-submenu #submenu [nzOpen]="handleSubMenuOpen('reachabilitySubMenu')" [nzTitle]="titleReachabilityTpl">
        <ul nz-menu-group nzTitle="{{ 'reachability.menuItem' | translate}}:">
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeReachability" translate>reachability.reachabilityBlocks</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="routeCallChain" translate>dependency.callChain.menuItem</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipTitle="{{ 'navigation.functionalAnalysis' | translate }}">
        <a class="project-shell__vertical-menu-item" [routerLink]="functionalAnalysis">
          <i aria-hidden="true" nz-icon nzType="mining-icons:functional-analysis" nzTheme="outline"></i>
          <span translate>navigation.functionalAnalysis</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a class="project-shell__vertical-menu-item" [routerLink]="routeDnaAnalysis">
          <i aria-hidden="true" nz-icon nzType="mining-icons:DNA" nzTheme="outline"></i>
          <span translate>navigation.dna</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipTitle="{{ 'annotationReporting.label' | translate }}">
        <a class="project-shell__vertical-menu-item" [routerLink]="routeAnnotations">
          <i aria-hidden="true" nz-icon nzType="message" nzTheme="outline"></i>
          <span translate>annotationReporting.label</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipTitle="{{ 'codeViewer.dataDictionary' | translate }}">
        <a class="project-shell__vertical-menu-item" [routerLink]="routeDataDictionary">
          <i aria-hidden="true" nz-icon nzType="book" nzTheme="outline"></i>
          <span translate>codeViewer.dataDictionary</span>
        </a>
      </li>
      <li *ngIf="semanticSearchEnabled" nz-menu-item nzMatchRouter>
        <a class="project-shell__vertical-menu-item" [routerLink]="routeSemanticSearch">
          <i aria-hidden="true" nz-icon nzType="search" nzTheme="outline"></i>
          <span translate>semanticSearch.navigation-entry</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="compositionEnabled">
        <a class="project-shell__vertical-menu-item" [routerLink]="routeFunctionalBlockUiProductVision">
          <i aria-hidden="true" nz-icon nzType="appstore" nzTheme="outline"></i>
          <span translate>functionalBlocks</span>
        </a>
      </li>
      <li nz-submenu *ngIf="customTables.length > 0" [nzTitle]="'Tables'"
        nzIcon="table">
        <ul>
          <li nz-menu-item nzMatchRouter *ngFor="let item of customTables">
            <a [routerLink]="item.identifier">
              <span>{{ item.name }}</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter *ngFor="let item of externalLinks">
        <a class="project-shell__vertical-menu-item" [routerLink]="item.pageIdentifier">
          <i aria-hidden="true" nz-icon nzType="link" nzTheme="outline"></i>
          <span>{{ item.name }}</span>
        </a>
      </li>
    </ul>
    <ul nz-menu nzTheme="light" nzMode="vertical" translate class="project-shell__nav-sider__bottom-menu">
      <li nz-menu-item nzMatchRouter nz-tooltip nzTooltipTitle="{{ 'navigation.configuration' | translate }}">
        <a class="project-shell__vertical-menu-item" [routerLink]="routeConfiguration">
          <i aria-hidden="true" nz-icon nzType="setting" nzTheme="outline"></i>
          <span translate>navigation.configuration</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a class="project-shell__vertical-menu-item" [routerLink]="routeExport">
          <i aria-hidden="true" nz-icon nzType="download" nzTheme="outline"></i>
          <span translate>navigation.export</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>

<ng-template #titleMetricsTpl>
  <a [routerLink]="routeSummary" class="project-shell__vertical-menu-item">
    <i aria-hidden="true" nz-icon nzType="pie-chart" nzTheme="outline"></i>
    <span translate>metrics.menuItem</span>
  </a>
</ng-template>
<ng-template #titleReachabilityTpl>
  <a [routerLink]="routeReachability" class="project-shell__vertical-menu-item">
    <i aria-hidden="true" nz-icon nzType="mining-icons:dependencies" nzTheme="outline"></i>
    <span translate>reachability.menuItem</span>
  </a>
</ng-template>