<div class="functional-block-layout">
  <div *ngIf="fcBlock?.length; else noData">
    <div class="functional-block-layout__row" nz-row [nzGutter]="8">
        <!-- show only one parent block on page load -->
        <nz-col [nzSpan]="8">
            <app-functional-block-card [isRoot]="true" [cardData]="fcBlock[0]"
                (childCard)="openChildCard($event, 0)"></app-functional-block-card>
        </nz-col>
        <!-- Iterating over child blocks and create new column for every child & its sibling -->
          <div *ngFor="let entry of finalFcBlock | keyvalue">
            <div nz-col [nzSpan]="22" *ngFor="let block of entry.value; let level=index">
            <nz-col [nzSpan]="8" class="functional-block-layout__child-block"
                *ngFor="let child of block.childBlock; let i=index">
                <!-- {{child | json}} -->
                <app-functional-block-card [cardData]="block.childBlock[i]"
    (childCard)="openChildCard($event, level + 1)" (parentCard)="closeCard($event)">
                </app-functional-block-card>
    </nz-col>
            </div>
    </div>
    </div>
</div>
</div>
<ng-template #noData>
<nz-empty nzNotFoundImage="simple" nzNotFoundContent="No Content Available"></nz-empty>
</ng-template>
