  <dependency-graph
    #depGraph
    *appLoader="loadState; errorMessage: errorMsg"
    [graphInfo]="graphInfo"
    [eclipseView]="eclipseView"
    (depthChange)="depthChange($event)"
    [selectedDepth]="callChainGraph ? depth : sliderVal"
    [layout]="layout"
    (filterChange)="changeFilter($event)"
    (layoutChange)="changeLayout($event)"
    [filterSelectedOptions]="filterSelectedOptions"
    [showDepthControl]="showDepthControl"
    [showGraphFilters]="showGraphFilters"
    [showBreadCrumb]="showBreadCrumb"
    [showExports]="showExports"
    [isDPGraphFromCallChain]="callChainGraph"
    [dependencyGraph]="dependencyGraph"
    [projectId]="projectId">
  </dependency-graph>
