<nz-page-header class="mining__fixed-content__page-header" [nzTitle]="'manageTokens.menuTitle' | translate">
    <nz-page-header-extra>
        <button nz-button nzType="primary" (click)="openCreateModal()">
            <i nz-icon nzType="plus"></i>
            {{ 'manageTokens.createBtn' | translate }}
        </button>
    </nz-page-header-extra>
</nz-page-header>
<nz-content class="mining__fixed-content">
    <nz-table [nzShowPagination]="false" [nzData]="storedTokens">
        <thead>
            <tr>
                <th scope="col" nzWidth="60%">{{ 'manageTokens.tblDsc' | translate }}</th>
                <th scope="col">{{ 'manageTokens.tblCreated' | translate }}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngIf="storedTokens">
            <tr *ngFor="let token of storedTokens">
                <td>{{ token.description }}</td>
                <td>{{ token.dateCreated }}</td>
                <td nzAlign="right">
                    <button nzSize="small" nz-button nzType="default" nz-dropdown
                        [nzDropdownMenu]="tokenActionsMenu" nzPlacement="bottomRight">
                        <em nz-icon nzType="ellipsis" aria-hidden="true"></em>
                    </button>
                    <nz-dropdown-menu #tokenActionsMenu="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="handleTokenOperations(token, 'showToken')">
                                {{'manageTokens.showToken' | translate}}
                            </li>
                            <li nz-menu-item (click)="handleTokenOperations(token, 'editToken')">
                                {{'btnLabel.edit' | translate}}
                            </li>
                            <li nz-menu-item (click)="handleTokenOperations(token, 'probeToken')">
                                {{'manageTokens.tokenModalValidate' | translate}}
                            </li>
                            <li nz-menu-item nz-popconfirm (click)="handleTokenOperations(token, 'deleteToken')" nzType="primary" nzDanger>
                                {{'btnLabel.delete' | translate}}
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-content>
<nz-modal [nzVisible]="modalToken" nzTitle="{{ 'manageTokens.tokenModalCap' | translate }}"
    (nzOnCancel)="modalToken=null">
    <ng-container *nzModalContent>
        <div class="mining-showToken">
            <p>{{ 'manageTokens.tokenModalInstr' | translate }}</p>
            <p><span class="mining-showToken__warningIcon" nz-icon nzDanger nzType="warning" nzTheme="fill"></span>{{ 'manageTokens.tokenModalNote' | translate }}</p>
        </div>
        <div class="token-display" nz-typography nzCopyable nzCopyText="{{modalToken}}">{{ modalToken }}</div>
    </ng-container>
    <ng-container *nzModalFooter>
        <button nz-button nzType="default" (click)="modalToken=null">{{ 'btnLabel.close' | translate }}</button>
    </ng-container>
</nz-modal>
<nz-modal [nzVisible]="modalTokenDescription" nzTitle="{{ (modalTokenId ? 'manageTokens.tokenModalEdit' : 'manageTokens.tokenModalNew') | translate }}"
    (nzOnCancel)="closeModal()">
    <form nz-form [formGroup]="saveTokenModalForm">
        <ng-container *nzModalContent>
            <nz-form-item>
                <nz-form-label [nzSpan]="24" nzRequired nzFor="tokenDescription">{{ 'manageTokens.tokenModalDsc' |
                    translate }}</nz-form-label>
                <nz-form-control [nzSpan]="24">
                    <input nz-input name="tokenDescription"
                        [placeholder]="'manageTokens.modalDescriptionPlaceHolder' | translate"
                        formControlName="tokenDescription" required />
                    <span class="custom-property-editor__error-msg"
                        *ngIf="saveTokenModalForm?.get('tokenDescription').hasError('duplicate') && (saveTokenModalForm?.controls['tokenDescription'].dirty || saveTokenModalForm?.controls['tokenDescription'].touched)">
                        {{ 'manageTokens.duplicateMsg' | translate }}</span>
                </nz-form-control>
            </nz-form-item>
        </ng-container>
        <ng-container *nzModalFooter>
            <button nz-button nzType="default" (click)="closeModal()">{{ 'btnLabel.cancel' | translate }}</button>
            <button nz-button nzType="primary" [disabled]="saveTokenModalForm?.invalid"
                (click)="submitTokenRequest()">{{ 'btnLabel.save' | translate }}</button>
        </ng-container>
    </form>
</nz-modal>
<nz-modal [nzVisible]="modalProbeToken" nzTitle="{{ 'manageTokens.tokenModalValidate' | translate }}"
    (nzOnCancel)="modalProbeToken=null">
    <ng-container *nzModalContent>
        <div *ngIf="modalTokenValidated==null"><nz-spin nzSimple nzSize="large" class="centered"></nz-spin></div>
        <div *ngIf="modalTokenValidated===true"><nz-result nzStatus="success"
                nzTitle="{{ 'manageTokens.tokenModalValidCap' | translate }}"
                nzSubTitle="{{ 'manageTokens.tokenModalValidNote' | translate }}"></nz-result></div>
        <div *ngIf="modalTokenValidated===false"><nz-result nzStatus="error"
                nzTitle="{{ 'manageTokens.tokenModalInvalidCap' | translate }}"
                nzSubTitle="{{ 'manageTokens.tokenModalInvalidNote' | translate }}"></nz-result></div>
    </ng-container>
    <ng-container *nzModalFooter>
        <button nz-button nzType="default" (click)="modalProbeToken=null">{{ 'btnLabel.close' | translate }}</button>
    </ng-container>
</nz-modal>

<ng-template #removeModalTemplate>
    <p>{{ 'manageTokens.deleteModalText' | translate }}</p>
</ng-template>