<div class="taxonomies-warning-error-modal">
  <nz-alert nzType="warning" [nzMessage]="errorAlert"></nz-alert>
  <ng-template #errorAlert>
    <div>
      <div class="text-container-error-warning">
        <pre>{{ warningMessage | json }}</pre>
      </div>
      <nz-divider></nz-divider>
      <button nz-button nzType="text" nzSize="small" (click)="onDownloadWarningLog()">
        <i nz-icon nzType="download" id="taxonomies-download-log"></i>
        {{ 'taxonomyReportingComponent.downloadLog' | translate }}
      </button>
    </div>
  </ng-template>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="onCancel(); onCancelWarning()">
      {{ 'btnLabel.cancel' | translate }}
    </button>
    <button nz-button nzType="primary" (click)="onCancel(); onContinueWarning()">
      {{ 'taxonomyReportingComponent.continue' | translate }}
    </button>
  </div>
</div>