<nz-card class="reachability-configuration__card-container">
    <h3 class="initiate-reachability__title">{{'reachability.configureReachability' | translate}}</h3>
    <div class="initiate-reachability__container">
      <div class="initiate-reachability__item reachability-configuration__card-item">
          <label class="reachability-configuration__modal-text">{{'reachability.upperBounderies' | translate}}</label>
          <img src="assets/Illustration Upper Bound.svg" alt="Upper Bound Illustration" />
        <span class="initiate-reachability__img-text">{{'reachability.imageText' | translate}}</span>
          <nz-space [nzDirection]="'vertical'">
            <label *nzSpaceItem class="initiate-reachability__criteria reachability-configuration__multi-select">{{'reachability.criteria1' |
              translate}}</label>
            <nz-select *nzSpaceItem nzMode="multiple" [disabled]="isEdit" [(ngModel)]="listOfSelectedUpperBoundType"
              (ngModelChange)="checkActionsToEnable($event)"
              class="initiate-reachability__criteria-content reachability-configuration__multi-select">
              @for (type of listModuleTypeOptions; track type.value) {
                <nz-option [nzDisabled]="! isManager" [nzLabel]="type.label" [nzValue]="type.value"></nz-option>
              }
            </nz-select>
            @if (requiredUpper) {
              <p *nzSpaceItem class="reachability-configuration__validation">{{'reachability.mandatoryCriteria' | translate}}</p>
            }
          </nz-space>
      </div>
      <div class="initiate-reachability__item reachability-configuration__card-item">
          <label class="reachability-configuration__modal-text">{{'reachability.lowerBounderies' | translate}}</label>
          <img src="assets/Illustration Lower Bound.svg" alt="Lower Bound Illustration" />
        <span class="initiate-reachability__img-text">{{'reachability.imageText' | translate}}</span>
        <nz-space [nzDirection]="'vertical'">
          <label *nzSpaceItem class="initiate-reachability__criteria reachability-configuration__multi-select">{{'reachability.criteria1' | translate}}</label>
          <nz-select *nzSpaceItem nzMode="multiple" [disabled]="isEdit" [(ngModel)]="listOfSelectedLowerBoundType" (ngModelChange)="checkActionsToEnable($event)" class="initiate-reachability__criteria-content reachability-configuration__multi-select">
            @for(type of listModuleTypeOptions; track type.value) {
              <nz-option [nzLabel]="type.label" [nzDisabled]="! isManager" [nzValue]="type.value"></nz-option>
            }
          </nz-select>
          @if (requiredLower) {
            <p *nzSpaceItem class="reachability-configuration__validation">{{'reachability.mandatoryCriteria' | translate}}</p>
          }
        </nz-space>
      </div>
    </div>
    <p *ngIf="sameValue" class="reachability-configuration__validation">{{'reachability.sameUpperAndLowerBound' | translate}}</p>
    <nz-divider></nz-divider>
    <nz-space *ngIf="isManager" class="reachability-configuration__action-items">
      @if (isEdit) {
        <button *nzSpaceItem nz-button nzType="primary" (click)="onEdit()">{{'btnLabel.edit' | translate}}</button>
      } @else {
        <button *nzSpaceItem nz-button [disabled]="! enableActions" nzType="default" nz-popconfirm
          nzPopconfirmTitle="{{'reachability.resetConfirm' | translate}}" (nzOnConfirm)="onReset()" nzPopconfirmPlacement="bottomRight">{{'miningTable.reset' | translate}}</button>
        <button *nzSpaceItem nz-button [disabled]="! enableActions" nzType="primary" (click)="saveConfiguartion()">{{'btnLabel.save' | translate}}</button>
      }
    </nz-space>
</nz-card>