<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>showForm Practise</title>
</head>

<body>
    <form th:action="@{processFormPractise}" method="get">
        <!-- here name property will hold the entered name of input field-->
        <input type="text" name="studentName" placeholder="Enter your name?">
        <br>
        <input type="radio" name="Good_Person" id="radio_button_id">Kanya
        <br>
        <input type="submit" value="Submit your name!!">
    </form>

</body>

</html>