  <nz-form-item [formGroup]="form" [ngSwitch]="finalType">
    <nz-form-label *ngIf="finalType !== dataType.BOOLEAN" [nzSpan]="28" nzFor="status" nzTooltipIcon="info-circle"
      [nzTooltipTitle]="customProperty.description" [nzRequired]="customProperty.mandatory">
      {{customProperty.label}}
    </nz-form-label>
    <nz-form-control [nzErrorTip]="errorToolTip" *ngSwitchCase="'TAG'">
      <nz-select (ngModelChange)="onModelChange($event)" [formControlName]="customProperty.inputName" nzMode="tags"
        nzPlaceHolder="{{'annotationTagPlaceholder' | translate}}"
        nzNotFoundContent="{{'annotationTagContentNotFound' | translate}}" [nzShowArrow]="true">
        <nz-option *ngFor="let option of optionList" [nzLabel]="option" [nzValue]="option"></nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-control [nzErrorTip]="errorToolTip" *ngSwitchCase="'SELECT'">
      <nz-select (ngModelChange)="onModelChange($event)" [formControlName]="customProperty.inputName" [nzShowArrow]="true">
        <nz-option *ngFor="let option of optionList" [nzLabel]="option" [nzValue]="option"></nz-option>
      </nz-select>
    </nz-form-control>
    <nz-form-control [nzErrorTip]="errorToolTip" *ngSwitchCase="'URL'">
      <input nz-input [formControlName]="customProperty.inputName" placeholder="{{'urlPlaceholder' | translate}}"/>
    </nz-form-control>
    <nz-form-control [nzErrorTip]="errorToolTip" *ngSwitchCase="dataType.STRING" [nzSpan]="30">
      <input nz-input [formControlName]="customProperty.inputName" type="text" />
    </nz-form-control>
    <nz-form-control [nzErrorTip]="errorToolTip" *ngSwitchCase="dataType.EMBEDDEDLIST" [nzSpan]="28">
      <div [formArrayName]="customProperty.inputName"
        *ngFor="let item of customPropertyFormArray(customProperty).controls; let i=index"
        class="custom-property-field__field-list">
        <input nz-input type="text" [formControlName]="i" (keyup.enter)="addField(customProperty)"/>
        <i *ngIf="i > 0 || ! customProperty.mandatory" nz-icon nzType="minus-circle-o" class="custom-property-field__remove-icon"
          (click)="removeField(customProperty, i)"></i>
      </div>
      <div class="custom-property-field__add-button">
        <button nz-button type="button" nzType="dashed" nzSize="default" (click)="addField(customProperty)">
          <i nz-icon nzType="plus"></i>
          {{ 'btnLabel.add' | translate}}
        </button>
      </div>
    </nz-form-control>
    <nz-form-control [nzErrorTip]="errorToolTip" *ngSwitchCase="'NUMBER'" [nzSpan]="28">
      <nz-input-number class="custom-property-field__number-input" [formControlName]="customProperty.inputName" [nzStep]="1"></nz-input-number>
    </nz-form-control>
    <nz-form-control [nzErrorTip]="errorToolTip" *ngSwitchCase="dataType.BOOLEAN" [nzSpan]="28">
      <label nz-checkbox [formControlName]="customProperty.inputName">{{customProperty.label}}</label>
    </nz-form-control>

    <ng-template #errorToolTip let-control>
        <ng-container *ngIf="control.hasError('required') || control.hasError('pattern')">
          {{ 'customPropertyTable.mandatoryValidationToolTip' | translate}}
        </ng-container>
    </ng-template>
  </nz-form-item>