<nz-collapse class ="assign-functional-groups" [nzBordered]="false" nzExpandIconPosition ="right">
  <ng-container *ngFor="let item of mappedData | keyvalue">
    <!-- {{mappedData | json}} -->
    <nz-collapse-panel *ngIf ="item.value['annotations']" 
    (click)="toggleDropDown($event,item.value)"
    [nzHeader]="item.value['name']" [nzActive]="panelState[item.value['uid']]"  [ngStyle]="item.value['customStyle']" [nzExtra]="editTpl">
      <nz-table (click) ="stopBubbling($event)" [nzData]="item.value['annotations']" [nzFrontPagination]="false" [nzShowPagination]="false">
        <ng-template #editTpl>
          <span nz-icon nzType="edit" (click)="openEditModal(item['key'])"></span>
        </ng-template>
        <tbody cdkDropList (cdkDropListDropped)="drop($event,item['key'])">
          <p class="assign-functional-groups__fg-description">{{item.value['description']}}</p>
          <tr *ngFor="let data of item.value['annotations']" cdkDrag class ="assign-functional-groups__table-row">
            <td class ="assign-functional-groups__column"><span nz-icon nzType="drag" nzTheme="outline" class ="assign-functional-groups__icon"></span><b>{{data.typeLabel}}&nbsp;
              <span *ngIf ="data.categoryName">({{data.categoryName}})</span></b></td>
            <td class ="assign-functional-groups__annotation-description">{{data.name}}</td>
            <td>
              <span
              nzSpan="auto" nz-popconfirm
              nzPopconfirmTitle="{{ (isFunctionalTypeAnnotation(item['key'], data.id) ? 'assignFunctionalList.popUpWarningMessage' : 'assignFunctionalList.popUpConfirmation') | translate }}" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="removeItem(item['key'], data.id)" nzOkText="{{ 'btnLabel.remove' | translate}}" nzCancelText="Cancel"
               nz-icon nzType="minus-circle" nzTheme="outline" class ="assign-functional-groups__plus-icon"></span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-collapse-panel>
  </ng-container>
</nz-collapse>
