<form class="custom-properties-form__modal-height" nz-form nzLayout="vertical" [formGroup]="customPropertiesForm">
  <app-custom-property-field-list [projectId]="currentClient.getProjectId()" className="Module"
    [parentForm]="customPropertiesForm" [customProperties]="customProperties"></app-custom-property-field-list>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()" [nzLoading]="isCancel" [disabled]="isLoading">
      {{ 'btnLabel.cancel' | translate }}</button>
    <button nz-button nzType="primary" (click)="saveCustomProperties()" [disabled]=" ! canSubmitForm() || isCancel" [nzLoading]="isLoading">
      {{ 'btnLabel.save' | translate }}</button>
  </div>
</form>