<nz-row [nzGutter]="[16, 8]" nzAlign="middle" class="ant-toolbar">
    <nz-col nzFlex="auto">
      <app-module-breadcrumb
        [currentModule]="module"
        [subPageTitle]="[fieldName? fieldName: columnName, 'module.graphs.dataLineage' | translate]">
      </app-module-breadcrumb>
    </nz-col>
    <nz-col>
      <nz-space nzDirection="horizontal" nzSize="middle">
        <ng-container *nzSpaceItem>
          <button (click)="redirectToDDTable()" *ngIf="inputOutputFields.length > 0" nz-button nzType="default">
            {{'dlI/OFields' | translate}}
          </button>
        </ng-container>
        <ng-container>
          <nz-button-group *nzSpaceItem nzCompact>
            <button (click)="expandAllGroups()" nz-button nzType="default" nz-tooltip nzTooltipPlacement="bottom"
              nzTooltipTitle="{{'controlFlow.expandAllGroups' | translate}}">
              <i aria-hidden="true" nz-icon nzType="mining-icons:group-expand"></i>
            </button>
            <button (click)="collapseAllGroups()" nz-button nzType="default" nz-tooltip nzTooltipPlacement="bottom"
              nzTooltipTitle="{{'controlFlow.collapseAllGroups' | translate}}">
              <i aria-hidden="true" nz-icon nzType="mining-icons:group-collapse"></i>
            </button>
          </nz-button-group>
        </ng-container>
        <nz-button-group *nzSpaceItem nzCompact>
          <button (click)="zoomOut()" nz-button nzType="default" nz-tooltip nzTooltipPlacement="bottom"
            nzTooltipTitle="{{'btnLabel.zoomOut' | translate}}">
            <i aria-hidden="true" nz-icon nzType="zoom-out" nzTheme="outline"></i>
          </button>
          <button (click)="zoomIn()" nz-button nzType="default" nz-tooltip nzTooltipPlacement="bottom"
            nzTooltipTitle="{{'btnLabel.zoomIn' | translate}}">
            <i aria-hidden="true" nz-icon nzType="zoom-in" nzTheme="outline"></i>
          </button>
          <button (click)="zoomOriginal()" nz-button nzType="default" nz-tooltip nzTooltipPlacement="bottom"
          nzTooltipTitle="{{'btnLabel.zoomOriginal' | translate}}">
          <i aria-hidden="true" nz-icon><img src="assets/zoom-original3-16.svg" alt="zoom original icon" /></i>
        </button>
        <button (click)="fitContent()" nz-button nzType="default" nz-tooltip nzTooltipPlacement="bottom"
          nzTooltipTitle="{{'btnLabel.fitContent' | translate}}">
          <i aria-hidden="true" nz-icon nzType="expand" nzTheme="outline"></i>
        </button>
        </nz-button-group>
      </nz-space>
    </nz-col>
  </nz-row>

<data-flow-graph *appLoader="loadState; errorMessage : (errorMessage | translate)" [fieldName]="fieldName" [graphInfo]="graphInfo" [moduleId]="module.id" [projectId]="projectId"></data-flow-graph>
