<nz-layout>
  <nz-page-header class="mining__content-page-header">
    <nz-page-header-title>Composition</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <nz-button-group *nzSpaceItem>
          <button nz-button> <i aria-hidden="true" nz-icon nzType="apartment" nzTheme="outline"></i></button>
          <button nz-button> <i aria-hidden="true" nz-icon nzType="mining-icons:dependencies"
              nzTheme="outline"></i></button>
          <button nz-button> <i aria-hidden="true" nz-icon nzType="table" nzTheme="outline"></i></button>
        </nz-button-group>

        <nz-button-group *nzSpaceItem>
          <button nz-button> <i aria-hidden="true" nz-icon nzType="appstore" nzTheme="outline"></i>Tiles</button>
          <button nz-button> <i aria-hidden="true" nz-icon nzType="folder" nzTheme="outline"></i>Folders</button>
        </nz-button-group>

        <button *nzSpaceItem nz-button> <i aria-hidden="true" nz-icon nzType="filter" nzTheme="outline"></i></button>
        <button *nzSpaceItem nz-button [disabled]=" ! codeEnabled"> <i aria-hidden="true" nz-icon nzType="mining-icons:opencode_outlined"
            (click)="toggleCodeViewer()"></i> </button>

        <button *nzSpaceItem nz-button> <i aria-hidden="true" nz-icon nzType="redo" nzTheme="outline"></i>Re-Run
          Reachability Analysis</button>
        <button *nzSpaceItem nz-button> <i aria-hidden="true" nz-icon nzType="plus" nzTheme="outline"></i>Add
          Folder</button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-layout class="composition-container">
    <nz-content>
      <nz-breadcrumb nz-page-header-breadcrumb class="composition-container__breadcrumb">
        <ng-template ngFor let-item [ngForOf]="path" let-i="index">
          <nz-breadcrumb-item *ngIf="i<max" (click)="onBreadCrumbClick(i)"><a>{{item}}</a></nz-breadcrumb-item>
        </ng-template>
      </nz-breadcrumb>
      <div class="composition-container__graph">
        <div class="image-container">
          <img *ngIf=" ! codeEnabled" src="{{imagePath}}" alt="image" class="graphimage" (click)="onImgClick()"/>
          <img *ngIf="codeEnabled" src="{{imagePath}}" alt="image" class="graphimagelast" (click)="onImgClick()"/>
          <button *ngIf=" ! codeEnabled" nz-button class="hover-button"> <i aria-hidden="true" nz-icon nzType="profile" nzTheme="outline" (click)="toggleSidePanel()"></i></button>
        </div>
      </div>
    </nz-content>
    <nz-sider nzWidth="560px" nzTheme="light" class="side-panel" [nzCollapsed]="! showCode" *ngIf="showCode"
      nzStyle="overflow: visible">
      <nz-card [nzTitle]="'Code Viewer'" [nzExtra]="closeIconTemplate"
        [nzBodyStyle]="{ padding: '16px 16px 8px 16px' }">
        <ng-template ngFor let-item [ngForOf]="codeViewerPaths" let-i="index">
          <img src="{{codeViewerPaths[i]}}" alt="image" class="side-panel__code-viewer-img"/>
        </ng-template>
      </nz-card>

    </nz-sider>
    <nz-sider nzWidth="300px" nzTheme="light" class="side-panel" [nzCollapsed]="isCollapsed" *ngIf="!isCollapsed"
      nzStyle="overflow: visible">
      <nz-card [nzTitle]="path[max]" [nzExtra]="closeIconTemplate" [nzBodyStyle]="{ padding: '8px 16px 8px 16px' }">
        <nz-space>
          <button nz-button *nzSpaceItem> <i aria-hidden="true" nz-icon nzType="mining-icons:dependencies"
              nzTheme="outline"></i></button>
          <button nz-button *nzSpaceItem> <i aria-hidden="true" nz-icon nzType="apartment"
              nzTheme="outline"></i></button>
          <button nz-button *nzSpaceItem> <i aria-hidden="true" nz-icon nzType="table" nzTheme="outline"></i></button>
          <button nz-button *nzSpaceItem> <i aria-hidden="true" nz-icon nzType="arrows-alt" nzTheme="outline"
              (click)="goDeeper()"></i></button>
        </nz-space>
      </nz-card>
      <nz-collapse>
        <nz-collapse-panel [nzHeader]="'Progress'" [nzExtra]="progressTemplate">
          <ng-template #progressTemplate>
            <nz-progress [nzPercent]="100"></nz-progress>
          </ng-template>
          Mining
          <nz-progress [nzPercent]="60"></nz-progress>
          Implementation
          <nz-progress [nzPercent]="0"></nz-progress>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="'Description'">
          <p>Deals with validation for agent hierarchy and eligibility, training, licensing, and selling agreements</p>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="'Metrics'">
          <img src="{{metricsPath}}" alt="image" class="side-panel__img"/>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="'Functional Groups'" [nzExtra]="badgeTemplateFunctionalGroups">
          <img src="{{functionalGroupsPath}}" alt="image" class="side-panel__img"/>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="'Input'" [nzExtra]="badgeTemplateInput">
          <button nz-button> <i aria-hidden="true" nz-icon nzType="table" nzTheme="outline"></i>Open Details</button>
          <nz-table [nzData]="['']" [nzShowPagination]="false" class="side-panel__table">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Table</td>
                <td>230</td>
              </tr>
              <tr>
                <td>File</td>
                <td>74</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="'Output'" [nzExtra]="badgeTemplateOutput">
          <button nz-button> <i aria-hidden="true" nz-icon nzType="table" nzTheme="outline"></i>Open Details</button>
          <nz-table [nzData]="['']" [nzShowPagination]="false" class="side-panel__table">
            <thead>
              <tr>
                <th scope="col">Type</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Table</td>
                <td>417</td>
              </tr>
              <tr>
                <td>File</td>
                <td>95</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-collapse-panel>
        <ng-template #badgeTemplateFunctionalGroups>
          <nz-badge nzStandalone [nzOverflowCount]="999" [nzCount]="5" class="side-panel__badge" nzShowZero></nz-badge>
        </ng-template>
        <ng-template #badgeTemplateInput>
          <nz-badge nzStandalone [nzOverflowCount]="999" [nzCount]="384" class="side-panel__badge"
            nzShowZero></nz-badge>
        </ng-template>
        <ng-template #badgeTemplateOutput>
          <nz-badge nzStandalone [nzOverflowCount]="999" [nzCount]="512" class="side-panel__badge"
            nzShowZero></nz-badge>
        </ng-template>
      </nz-collapse>
    </nz-sider>
    <ng-template #closeIconTemplate>
      <button nz-button nzType="text" (click)="closeSidePanel()">
        <em nz-icon nzType="close" nzTheme="outline"></em>
      </button>
    </ng-template>
  </nz-layout>
</nz-layout>

