<nz-select *ngIf="currentClient && currentClient.getClientId() && currentClient.getProjectId()"
    class="universal-search__selector" nzShowSearch nzServerSearch
    [nzPlaceHolder]="'universalSearch.universalSearchTitle'| translate" [ngModel]="selectedValue" [nzShowArrow]="false"
    [nzDropdownClassName]="'universal-search__search-option'" [nzDropdownMatchSelectWidth]="false"
    (nzOnSearch)="universalSearchText.next($event.trim());" nzSize="small">
    <nz-option-group [nzLabel]="UniversalSearchTemplate">
        <nz-option nzValue="" [nzHide]="hideSelection" nzLabel=""></nz-option>
    </nz-option-group>
</nz-select>
<ng-template #UniversalSearchTemplate>
    <div *ngFor="let searchCatObj of groupedSearchResult | keyvalue" class="universal-search__list-group">
        <nz-divider class="universal-search__search-divider" nzText="{{searchCatObj.key}}"></nz-divider>
        <nz-row class="universal-search__list-item" *ngFor="let searchObj of searchCatObj.value">
            <nz-col nzSpan="24">
                <nz-row>
                    <div nz-col [nzSpan]="18" class="universal-search__list-group">
                        <span [innerHTML]="searchObj.title"></span>
                        <span class="universal-search__subtitle" nz-typography nzType="secondary"
                            *ngIf="searchObj.subTitle" [innerHTML]="' in: ' + searchObj.subTitle"></span>
                    </div>
                    <div nz-col [nzSpan]="6" (click)="navigateToDetails(searchObj)">
                        <a nz-button nzType="link"
                            [ngClass]="{'universal-search__btn-visible-hidden': searchObj.links.length === 0 }">
                            <em aria-hidden="true" nz-icon [nzType]="getIconLabel(searchObj).icon"></em>
                            <span class="universal-search__btn-text">{{ getIconLabel(searchObj).label | translate }}</span>
                        </a>
                    </div>
                </nz-row>
                <nz-row *ngIf ="searchObj.context">
                    <p [innerHTML]="searchObj.context"></p>
                </nz-row>
            </nz-col>
        </nz-row>
    </div>
</ng-template>