<form nz-form nzLayout="vertical" class="modal-window" [formGroup]="modalForm">
  <div *ngFor="let editDetail of editDetails; let i = index" [ngClass]="editDetail.class">
    <p class="modal-window__header shared-annotation-editor__genai-buttons">{{editDetail.label}}
      <button *ngIf="gptTranslateActive" [disabled]="descriptionGenerating" nz-button nzSize="small" nzType="link" [title]="'codeViewer.gptCodeTranslation' | translate"
      (click)="generateDescription()" [nzLoading]="disableSaveButton" nz-tooltip [nzTooltipTitle]="'genAI.contentWarning' | translate">
      <span nz-icon nzType="mining-icons:gen-ai-stars" nzTheme="outline" nzSize="small"></span> {{ 'generateModuleDesc' | translate }}
    </button>
    </p>
    <textarea *ngIf="editDetail.type == 'TEXT'" nz-input class="modal-window__textarea" [formControlName]="editDetail.key"
      rows="14" placeholder="{{placeHolderText}}">
    </textarea>
    <div *ngIf="isGenerationSuccess">
      <span class="gen-Ai__icon-color" nz-icon nzType="mining-icons:gen-ai-stars" nzTheme="outline" nzSize="small"></span>
      <span class="modal-window__hint" nz-typography nzType="secondary">{{ 'genAI.generatedContentMarker' | translate }}</span>
    </div>
    <nz-select *ngIf="editDetail.type == 'COMBO_BOX'"
      [attr.disabled]="!isManager"
      [formControlName]="editDetail.key">
      <nz-option *ngFor="let options of editDetail.options" [nzValue]="options.value" [nzLabel]="options.label">
        {{ options }}
      </nz-option>
    </nz-select>
  </div>
  <div *nzModalFooter nz-row>
    <div nz-col nzSpan="22" nzPush="2">
      <button nz-button nzType="default" (click)="cancel()">
        <a nz-popconfirm [(nzPopconfirmVisible)]="display" nzPopconfirmTitle="{{'modalWindow.discardChanges' | translate}}" nzPopconfirmPlacement="top"
        (nzOnConfirm)="closeEditModal(true)" (nzOnCancel)="closeEditModal(false)" nzOkText="{{'modalWindow.primaryText' | translate}}">{{'btnLabel.cancel' | translate}}</a>
      </button>
      <button nz-button nzType="primary" [disabled]="modalForm.invalid || disableSaveButton"  (click)="save()">
        {{'btnLabel.save' | translate}}
      </button>
    </div>
      <mn-eclipse-button *ngIf = "editDetails[0].openInEclipseFeature" (clicked)="openInEclipse()"></mn-eclipse-button>
    <div nz-col nzSpan="2" nzPull="22">
      <button nz-button nzDanger *ngIf = "editDetails[0].deleteFeature" (click)="delete(false)">
        <i nz-icon nzType="delete" nzTheme="outline"></i>{{'btnLabel.delete' | translate}}
        <a nz-popconfirm [(nzPopconfirmVisible)]="showDeleteModal" nzPopconfirmTitle="{{'modalWindow.deleteSubject' | translate}}" nzPopconfirmPlacement="top"
        (nzOnConfirm)="delete(true)" (nzOnCancel)="showDeleteModal = false"></a>
      </button>
    </div>
  </div>
</form>
