<nz-content class="mining__content-page-header">
  <nz-content class="module-dna__card-title">
    {{chartTitle}}
    <em class="ant-helper-info-icon" nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip
      [nzTooltipTitle]="titleToolTip"></em>
  </nz-content>
  <div nz-row [nzGutter]="[8, 16]">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12" #moduleDnaChart class="module-dna__chart">
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="12" nzXXl="12">
      {{infoText}}
      <a *ngIf="dnaCardData.selectedIndex !== -1" (click)="generateFilterObjAndEmitEvent('moduleList')">{{'moduleList' | translate: { moduleCount } }}</a>
    </div>
  </div>
</nz-content>

<dna-chart-details *ngIf="showChartDetails" (showChartDetails)="closeChartDetails()" [algorithm]="algorithm" [isModuleList]="isModuleList"
  [filters]="chartDataFilters.filters" [chartTitle]="chartTitle" [projectId]="projectId" [moduleId]="moduleId">
</dna-chart-details>