<ng-container class="block-view-details">
    <nz-tabset class="block-view__tabs-margin" [nzAnimated]="false">
        <!-- Details tab -->
        <nz-tab (nzClick)="openDetailsTab()" [nzTitle]="'reachability.details' | translate">
            <mn-loader *ngIf=" ! isDetailsAvailable"></mn-loader>
            <nz-collapse *ngIf="isDetailsAvailable" nzExpandIconPosition="right">
                <nz-collapse-panel [nzHeader]="nameTemplate" [nzActive]="true">
                    <ng-template #nameTemplate>
                        <strong>{{'reachability.nameAndDescription' | translate}}</strong>
                    </ng-template>
                    <div class="block-view__name-position">
                        <p>{{ blockDetails?.name }}</p>
                        <button nzSize="small" nz-button nzTrigger="click" (click)="openEditModal()" *ngIf="canEditRB">
                            <i aria-hidden="true" nz-icon nzType="edit" nzTheme="outline"></i>
                        </button>
                    </div>
                    <p class="block-view__panel__margin" nz-typography>{{blockDetails?.description ||
                        'reachability.noDescription' | translate}}</p>
                </nz-collapse-panel>
                <nz-collapse-panel [nzHeader]="metricsTemplate" [nzActive]="true">
                    <ng-template #metricsTemplate>
                        <strong>{{'navigation.metrics' | translate}}</strong>
                    </ng-template>
                    <p class="block-view__panel__margin" nz-typography><strong>{{'reachability.upperBound' |
                            translate}}</strong></p>
                    <ng-container *ngFor="let boundary of blockData?.upperBound">
                        <nz-space class="block-view__panel__margin">
                            <a [routerLink]="['/project-' + projectId + '/module-' + boundary.linkHash + '/details/overview']"
                                target="_blank" *nzSpaceItem>{{boundary.name}}</a>
                            <div *nzSpaceItem>{{boundary.technology}} {{boundary.type}}</div>
                            <div *nzSpaceItem>
                                <ng-container *ngIf="boundary.upperTaxonomies">
                                    <nz-tag *ngFor="let taxonomy of boundary.upperTaxonomies">{{taxonomy.name}}</nz-tag>
                                </ng-container>
                            </div>
                        </nz-space>
                    </ng-container>
                    <p class="block-view__panel__margin" nz-typography><strong>{{'reachability.lowerBound' |
                            translate}}</strong></p>
                    <ng-container *ngFor="let boundary of blockData?.lowerBound">
                        <ng-container *ngIf="boundary.aggregations.length; else noLowerBound">
                            <span *ngFor="let aggregation of boundary?.aggregations">
                                <span>{{lowerBoundLabelMapping(aggregation)}}:</span>
                                <nz-badge nzStandalone [nzOverflowCount]="9999" [nzCount]="aggregation.fields.UID.COUNT"
                                    class="card-badge block-view__panel__padding" nzShowZero></nz-badge>
                            </span>
                        </ng-container>
                        <ng-template #noLowerBound>
                            <p class="block-card__truncate">{{'reachability.noLowerbound' | translate}}</p>
                        </ng-template>
                    </ng-container>
                    <nz-divider class="block-card__divider"></nz-divider>
                    <p class="block-view__panel__margin" nz-typography><strong>{{'reachability.contains' |
                            translate}}</strong></p>
                    <ng-container *ngFor="let boundary of blockData?.contains">
                        <ng-container *ngIf="boundary.aggregations.length; else noContainsModule">
                            <span *ngFor="let aggregation of boundary?.aggregations">
                                <span>{{lowerBoundLabelMapping(aggregation)}}:</span>
                                <nz-badge nzStandalone [nzOverflowCount]="9999" [nzCount]="aggregation.fields.UID.COUNT"
                                    class="card-badge block-view__panel__padding" nzShowZero></nz-badge>
                            </span>
                        </ng-container>
                        <ng-template #noContainsModule>
                            <p nz-typography nzType="secondary">{{'reachability.noContains' | translate}}</p>
                        </ng-template>
                    </ng-container>
                    <p class="block-view__panel__margin" nz-typography><strong>{{'reachability.sharedModule' |
                            translate}}</strong></p>
                    <ng-container *ngFor="let boundary of blockData?.sharedModule">
                        <ng-container *ngIf="boundary.aggregations.length; else noSharedModule">
                            <span *ngFor="let aggregation of boundary?.aggregations">
                                <span>{{lowerBoundLabelMapping(aggregation)}}:</span>
                                <nz-badge nzStandalone [nzOverflowCount]="9999" [nzCount]="aggregation.fields.UID.COUNT"
                                    class="card-badge block-view__panel__padding" nzShowZero></nz-badge>
                            </span>
                        </ng-container>
                        <ng-template #noSharedModule>
                            <p nz-typography nzType="secondary">{{'reachability.noShared' | translate}}</p>
                        </ng-template>
                    </ng-container>
                    <nz-divider class="block-card__divider"></nz-divider>
                    <nz-space nzDirection="horizontal" nzSize="middle">
                        <ng-container *nzSpaceItem>
                            <p class="block-view__panel__margin" nz-typography nzType="secondary">
                                {{'reachability.linesOfCode' |
                                translate}}</p>
                            <p class="block-view__panel__margin">{{ blockData?.linesOfCode }}</p>
                        </ng-container>
                        <ng-container *nzSpaceItem>
                            <p class="block-view__panel__margin" nz-typography nzType="secondary">
                                {{'reachability.cyclometricComplexity' | translate}}</p>
                            <p class="block-view__panel__margin">{{blockData?.complexity}}</p>
                        </ng-container>
                    </nz-space>
                </nz-collapse-panel>
            </nz-collapse>
        </nz-tab>
        <!-- Blocks Tab -->
        <nz-tab *ngIf="enableBlocksTab()" [nzTitle]="'reachability.blocks' | translate"
            (nzClick)="getMergedChildrenBlocks()">
            <hr class="side-panel__horizontal-line" />
            <auto-detect-alert [projectId]="projectId" (actionClicked)="onActionClicked($event)"></auto-detect-alert>
            <nz-content>
                <nz-page-header class="block-view__page-header"
                    [nzTitle]="blockTabTitle">
                    <nz-page-header-extra *ngIf="mergedChildrenBlocks.length && showUnmerge && canEditRB">
                        <button nzSize="small" nz-button nzTrigger="click" nz-dropdown [nzDropdownMenu]="editMenu"
                            [disabled]="blockData?.status">
                            <i aria-hidden="true" nz-icon nzType="edit" nzTheme="outline"></i></button>
                    </nz-page-header-extra>
                </nz-page-header>
                <div class="block-view__blocks-height" [ngClass]="{'block-view__container': totalElements > pageSize }">
                    <mn-loader *ngIf=" ! isLoaded || (! mergedChildrenBlocks.length && ! nonMergedBlocks.length && ! blockTabTitle.includes('No')); else fetchedData">
                    </mn-loader>
                    <ng-template #fetchedData>
                        <div *ngIf="isLoaded || blockData; else noData" nz-row
                        [nzGutter]="[16,16]" class="block-view__row-margin">
                            <ng-container *ngIf="mergedChildrenBlocks.length">
                                <div *ngFor="let blocks of mergedChildrenBlocks" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8"
                                    [nzXl]="8" [nzXXl]="8">
                                    <block-card (blockSelectionEvent)="checkToEnableMerge()" [canEditRB]="showCheckBox"
                                        [showCheckBox]="showCheckBox" [reachabilityBlockData]="blocks" [projectId]="projectId"></block-card>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="nonMergedBlocks.length">
                                <div *ngFor="let blocks of nonMergedBlocks" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8" [nzXl]="8"
                                    [nzXXl]="8">
                                    <block-card (blockSelectionEvent)="checkToEnableMerge()" [canEditRB]="showCheckBox"
                                        [reachabilityBlockData]="blocks" [projectId]="projectId"></block-card>
                                </div>
                            </ng-container>
                        </div>
                        <ng-template #noData>
                            <nz-empty class="block-view__no-content"></nz-empty>
                        </ng-template>
                    </ng-template>
                </div>
                <nz-pagination *ngIf="totalElements && nonMergedBlocks.length" class="block-view__pagination" [nzPageIndex]="1"
                    [nzTotal]="totalElements" [nzPageSize]="pageSize"
                    [ngClass]="{'block-view__pagination-margin': totalElements > pageSize }" (nzPageIndexChange)="paginate($event)"
                    nzHideOnSinglePage="true" nzSimple>
                </nz-pagination>
                <nz-pagination *ngIf="totalElements && mergedChildrenBlocks.length" class="block-view__pagination"
                    [nzPageIndex]="mergedPageIndex + 1" [nzTotal]="totalElements" [nzPageSize]="pageSize"
                    [ngClass]="{'block-view__pagination-margin': totalElements > pageSize }"
                    (nzPageIndexChange)="paginateOnMergedChildren($event)" nzHideOnSinglePage="true" nzSimple>
                </nz-pagination>
                <div nz-row class="block-view__button-bar"
                    [ngClass]="{'block-view__button-bar_position': (nonMergedBlocks.length && nonMergedBlocks.length <= 3) || 
                                (mergedChildrenBlocks.length && mergedChildrenBlocks.length <= 3) || ( ! nonMergedBlocks.length && ! mergedChildrenBlocks.length)}"
                    [nzJustify]="'space-between'">
                    <div nz-col>
                        <button *ngIf="showUnmerge || unmergeBlocks" nz-button type="button" nzType="default" (click)="unmergeAll()" nzDanger
                            nzOkDanger="true" [disabled]=" ! canEditRB || blockData?.status">
                            {{ 'btnLabel.unmergeAll' | translate }}
                        </button>
                    </div>
                    <div nz-col>
                        <nz-space *ngIf=" ! showUnmerge; else closeButton">
                            <button *nzSpaceItem nz-button (click)="closeSidePanel()">{{'btnLabel.cancel' |
                                translate}}</button>
                            <button *nzSpaceItem nz-button nzType="primary" [nzLoading]="saveLoader"
                                [disabled]=" ! isSave" (click)="mergeUnmergeBlocks()">{{'btnLabel.saveUpdates' |
                                translate}}</button>
                        </nz-space>
                        <ng-template #closeButton>
                            <button nz-button (click)="closeSidePanel()">{{'btnLabel.close' | translate}}</button>
                        </ng-template>
                    </div>
                </div>
            </nz-content>
        </nz-tab>
    </nz-tabset>
</ng-container>
<nz-dropdown-menu #editMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="getNonMergedBlocks()">{{'btnLabel.add' | translate}}</li>
      <li nz-menu-item (click)="removeRblocks()">{{'btnLabel.remove' | translate}}</li>
    </ul>
</nz-dropdown-menu>
