<mn-customizable-table-core-component [usage]="usage" [graphQlType]="graphQlType" [projectId]="projectId"
  [pageType]="pageType" [additionalTableConfig]="tableConfig" [additionalGraphQLPreFilter]="additionalGraphQLPreFilter"
  (optionSelected)="openSidePanelCodeView($event)"></mn-customizable-table-core-component>
<control-flow-meta-data [ngClass]="{'cfg__error-marker-display':  ! isErrorMarker }"
  [errorMarkerSubscription]="rowSelection.asObservable()" [sidePanelTitle]="'module.markCode' | translate"
  *ngIf="isErrorMarker" [projectId]="projectId" [isErrorMarker]="true" (hideShowDrawer)="showCfgMetaDataDrawer($event)">
</control-flow-meta-data>