<div nz-row>
  <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="list-functional-group">
    <div class="list-functional-group__filter-container">
      <nz-badge [nzDot]="isFiltersActive" class="list-functional-group__custom-badge"> 
        <button nz-button (click)="showFilter()" class ="list-functional-group__filter-btn" [ngClass]= "isFiltersActive ? 'functional-analysis-component__filter-tree-icon': 'functional-analysis-component__tree-icon'">
          <span nz-icon nzType="filter" nzTheme="outline"></span>
        </button> 
      </nz-badge>
      <span class="list-functional-group__total-elements">{{'listFunctionalBlock.totalTreeCount' | translate: {count: totalTreeItemsCount} }}</span>
    </div>
    <p *ngIf = "totalTreeItemsCount > 0" class="list-functional-group__bold-text">{{ 'listFunctionalBlock.treeHeading'  | translate }}</p>
    <p *ngIf = "totalTreeItemsCount === 0" class="list-functional-group">{{ 'listFunctionalBlock.emptyTreeHeading' | translate }}</p>
    <nz-tree nzShowIcon  [nzExpandedIcon]="treeIcon" class="list-functional-group__tree"
      [nzData]="functionalAnalysisTree"
      nzMultiple [nzExpandedKeys]="nzExpandedKeys" *ngIf="functionalAnalysisTree.length">
      <ng-template #treeIcon let-node let-origin="origin">
        <ng-container *ngIf="! origin.isLeaf &&  origin.children">
          <span *ngIf="origin.type === 'FUNCTIONAL_GROUP' && origin.children && origin.children.length > 0" nz-icon
            [nzType]="origin.expanded ? 'caret-down' : 'caret-right'" class="ant-tree-switcher-line-icon"></span>
          <label nz-checkbox *ngIf="origin.type === 'FUNCTIONAL_GROUP'"
            [ngClass]="origin.type === 'FUNCTIONAL_GROUP' && origin?.children?.length > 0 ?  'list-functional-group__check-box': 'list-functional-group__check-box-ml'"
            (ngModelChange)="onItemChecked(origin?.uid, $event, true)" [nzChecked]="setOfCheckedId.has(origin?.uid)"
            [(ngModel)]="origin.isChecked"></label>
        </ng-container>
      </ng-template>
      <ng-template #nzTreeTemplate let-node let-origin="origin">
        <img src="assets/Functional Block_icon.svg" class="list-functional-group__tree-icon" />
        <span nz-icon [nzType]="'message'" *ngIf="origin.isLeaf"
          class="ant-tree-switcher-line-icon list-functional-group__msg-icon"></span>
        <span [class.highlighted]="origin.isHighlighted" class="list-functional-group__tree-title"
          [class.list-functional-group__parent-block]="! origin.isLeaf" [title]="''" nz-tooltip
          [nzTooltipTitle]="origin.title"
          [ngClass]="! origin.isDescriptionProvided ? 'list-functional-group__no-description': ''">{{ origin.title
          }}</span>
      </ng-template>
    </nz-tree>
    <nz-pagination class="list-functional-group__pagination" [nzPageIndex]="1" [nzTotal]="totalTreeItemsCount"
      [nzPageSize]="perPage" (nzPageIndexChange)="onPaginationChange($event)" nzSimple nzHideOnSinglePage="true">
    </nz-pagination>
  </div>
  <div nz-col nzOffset="1"></div>
  <div nz-col nzSpan="15" class="list-functional-group__fg-container">
    <h4 class="list-functional-group__title">{{ 'assignFunctionalList.heading' | translate }}</h4>
    <span *ngIf=" ! isEmptyObject(mappedData)">{{ 'assignFunctionalList.subHeading' | translate }}</span>
    <span *ngIf="isEmptyObject(mappedData)">{{ 'assignFunctionalList.noFbAssignSubHeading' | translate }}</span>
    <assign-functional-groups (removeFG)="removeFG($event)"
      (removeFGFromTree) = "removeFGFromTree($event)"
      (deleteAnnotationsFromFB) = "deleteAnnotationsFromFB($event)"
      (updatedFunctionalGroup)="getUpdatedFunctionalDetails($event)"
      [mappedData]="mappedData" [projectId]="projectId"></assign-functional-groups>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" class="list-functional-group__createButton" (click)="createNew()">{{
      'btnLabel.createNew' | translate }}</button>
    <button nz-button nzType="default" (click)="handleCancel()">{{ 'btnLabel.cancel' | translate }}</button>
    <button nz-button nzType="primary" [nzLoading]="isLoading"  [disabled]="functionalAnalysisTree.length === 0 || saveButtonState  || ! shouldEnableSaveButton()"  (click)="onSave()">{{
      'btnLabel.save' |
      translate}}</button>
  </div>
</div>

<nz-card class="filter-display__pop-over" [ngClass]="{'functional-analysis-component__display-filter': ! toggleFilter}">
  <ng-container *ngTemplateOutlet="filterModal"></ng-container>
  <ng-container *ngTemplateOutlet="modalFooter"></ng-container>
</nz-card>
<ng-template #filterModal>
  <p>{{ 'functionalAnalysis.subTitle' | translate }}</p>
  <div nz-row [nzGutter]="24">
    <nz-form-item nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="8" [nzXXl]="8">
      <nz-form-control class="functional-analysis-component__form-control">
        <nz-form-label [nzSpan]="24" nzFor="name">{{ 'functionalAnalysis.taxonomyLbl' | translate }}</nz-form-label>
        <app-taxonomy-filter [useMetricsFilterService]="false" #taxonomyFilter
          (taxonomyId)="updateTaxonomySelection($event)"></app-taxonomy-filter>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="8" [nzXXl]="8">
      <nz-form-control class="functional-analysis-component__form-control">
        <nz-form-label [nzSpan]="24" nzFor="name">{{ 'functionalAnalysis.reachabilityBlockLbl' | translate
          }}</nz-form-label>
        <nz-select nzMode="tags" [nzDropdownClassName]="'reachability-listing__select-dropdown'"
          [nzPlaceHolder]="'functionalAnalysis.selectPlaceHolder' | translate"
          [nzAutoClearSearchValue]="true" [(ngModel)]="selectReachabilityIds">
          <nz-option *ngFor="let option of listReachabilityBlock" [nzLabel]="option.label"
            [nzValue]="option.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="8" [nzXXl]="8">
      <nz-form-control class="functional-analysis-component__form-control">
        <nz-form-label [nzSpan]="24" nzFor="name">{{ 'moduleName' | translate }}</nz-form-label>
        <nz-select nzMode="tags" [nzPlaceHolder]="'functionalAnalysis.selectPlaceHolder' | translate "
          [nzDropdownClassName]="'module-listing__select-dropdown'" [nzAutoClearSearchValue]="true"
          (nzOnSearch)="onModuleNameSearch($event)" [(ngModel)]="selectedModuleIds">
            <nz-option nzCustomContent *ngFor="let option of listSearchModule" [nzLabel]="option.label" [nzValue]="option.value">
              <nz-row class="functional-analysis-component__list-item">
                <nz-col>
                  <nz-space>
                    <span *nzSpaceItem [innerHTML]="option.label" title="" nz-tooltip [nzTooltipTitle]="option.label"></span>
                    <ng-container *nzSpaceItem>
                      <span class="functional-analysis-component__subtitle" nz-typography nzEllipsis nzType="secondary"
                      *ngIf="option?.path" [innerHTML]="option.path" nz-tooltip [nzTooltipTitle]="option.path"></span>
                    </ng-container>
                  </nz-space>
                  <nz-row *ngIf="option?.description">
                    <span nz-typography nzEllipsis nz-tooltip [nzTooltipTitle]="option.description"
                      [innerHTML]="option.description"></span>
                  </nz-row>
                </nz-col>
              </nz-row>
            </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</ng-template>
<ng-template #modalFooter>
  <div class="functional-analysis-component__btn-container">
    <button nz-button nzType="default" [disabled]="isButtonDisabled()" (click)="onReset()">
      {{ 'miningTable.reset' | translate }}
    </button>
    <button nz-button nzType="primary" (click)="onApplyFilter()" class ="functional-analysis-component__apply-btn">
      {{ 'functionalAnalysis.apply' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #noFunctionalGroup>
  <nz-empty nzNotFoundImage="simple" nzNotFoundContent="No Content Available"></nz-empty>
</ng-template>