<nz-badge class="job-monitor-header__badge-icon" nzSize="small" [nzStandalone]="false" [nzCount]="count" [nzOffset]="[-2, 4]" [ngClass]="color">  
  <button nzShape="circle" nz-button nzType="text" nzTheme="outline" nzGhost nzSize="small"
    (mouseenter)="openJobProgressMonitor()" (mouseleave)="closeJobProgressMonitor()"
    nz-popover [nzPopoverTrigger]="null" [nzPopoverContent]="jobProgressMonitor" nzPopoverPlacement="bottomRight"
    [nzPopoverArrowPointAtCenter]="true" (nzPopoverVisibleChange)="getPopoverVisibilityState($event)" [(nzPopoverVisible)]="isMenuVisible">
    <em nz-icon [ngClass]="color" [nzType]="type" [nzTheme]="theme === 'fill'? 'fill':'outline'" aria-hidden="true"></em>
  </button>
</nz-badge>

<ng-template #jobProgressMonitor>
  <div class="job-progress-monitor" (mouseleave)="closeJobProgressMonitor()" (mouseover)="cancelCloseJobProgressMonitor()">
    <nz-row nzJustify="space-between" class="job-progress-monitor__header">
      <span>{{ 'jobProgressMonitor.title' | translate: { text: authorizationService.isAdmin() ? 'All' : 'My' } }}</span>
      <span class="job-progress-monitor__header--text">{{ 'jobProgressMonitor.text' | translate: { text:
        authorizationService.isAdmin() ? 'All' : 'All My' } }}</span>
    </nz-row>
    <nz-divider></nz-divider>
    <nz-list id="jobsContentRef" *ngIf="isJobListAvailable; else noJobsData" [nzLoading]="loadingJobs"
      nz-list-pagination class="job-progress-monitor__list">
      <nz-list-item *ngFor="let item of jobsDetails">
        <nz-list-item-meta>
          <nz-list-item-meta-avatar>
            <em nz-icon [ngClass]="item.colorClass" [nzType]="item.jobIcon"
              [nzTheme]="item.status === 'SUCCESS' || item.status === 'FAILURE' ? 'fill': 'outline'"></em>
          </nz-list-item-meta-avatar>
          <nz-list-item-meta-title>
            {{ item.jobDescription }}
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            {{ item.stepDescription }}
          </nz-list-item-meta-description>
          <nz-list-item-meta-description>
            <nz-space>
              <ng-container *ngIf="item.time">
                <span *nzSpaceItem>{{ item.time }}</span>
              </ng-container>
              <ng-container *ngIf="authorizationService.isAdmin()">
                <span *nzSpaceItem nz-icon nzType="team" nzTheme="outline" nz-tooltip
                  [nzTooltipTitle]="'jobProgressMonitor.startedBy' | translate: {userName : item.jobStartedBy}"
                  nzTooltipPlacement="bottom"></span>
              </ng-container>
            </nz-space>
            <div class="job-progress-monitor__list--button">
              <button *ngIf="item.resultButton && item.resultButton !== 'Review Now'" nz-button nzSize="small" nzType="primary"
                (click)="performAction(item.resultButton, item)" class="job-progress-monitor__list--showResult">
                {{item.resultButton}}
              </button>
              <button *ngIf="item.actionLabel !== 'Show Log'" class="job-progress-monitor__list--showResult" nz-button
                [nzLoading] ="item.loadingLogButton" [disabled] ="item.disableActionButton" (click)="performAction(item.actionLabel, item)">
                {{item.actionLabel}}
              </button>
              <button class="job-progress-monitor__list--moreIcon" nz-dropdown nz-button nzSize="small"
                *ngIf="item.actionLabel === 'Show Log'" [nzDropdownMenu]="menu" (nzVisibleChange)="toggleKeepMenuOpen($event)">
                  <em nz-icon [nzType]="'more'" nzTheme="outline" aria-hidden="true"></em>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="performAction(item.actionLabel, item)">
                    {{'jobProgressMonitor.actionLabelLog' | translate}}
                  </li>
                  <li nz-menu-item (click)="removeJobsFromHistory(item , false)">
                    {{'jobProgressMonitor.removeFromHistory' | translate}}
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </nz-list-item-meta-description>
          <nz-list-item-meta-description>
            <div nz-row>
              <nz-collapse nzGhost="true" nzExpandIconPosition="left" [nzBordered]="false" class="collapse-panel"
                *ngIf="item.details.length">
                <nz-collapse-panel [nzHeader]="'jobProgressMonitor.details' | translate">
                  <ng-container *ngFor="let element of item.details">
                    <nz-list-item-meta-title>
                      {{element.text}}
                    </nz-list-item-meta-title>
                  </ng-container>
                </nz-collapse-panel>
              </nz-collapse>
            </div>
          </nz-list-item-meta-description>
        </nz-list-item-meta>
      </nz-list-item>
    </nz-list>
    <ng-template #noJobsData>
      <nz-empty nzNotFoundImage="simple"></nz-empty>
    </ng-template>
    <nz-pagination *ngIf="isJobListAvailable" [nzPageIndex]="1" [nzTotal]="totalJobs" [nzPageSize]="perPage"
      (nzPageIndexChange)="paginate($event)" nzSimple>
    </nz-pagination>
    <nz-divider></nz-divider>
    <div class="job-progress-monitor__footer">
      <button nz-button nz-popconfirm nzPopconfirmPlacement="bottom" (click)="removeJobsFromHistory(null, true)"
        [disabled]="! isJobListAvailable" nzOkText="{{ 'jobProgressMonitor.clear' | translate }}"
        nzCancelText="Cancel">
        {{'jobProgressMonitor.clearText' | translate}}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #jobNotificationTemplate let-notification="data">
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
        <em nz-icon [ngClass]="notification?.colorClass" [nzType]="notification?.jobIcon"
          [nzTheme]="notification.status === 'SUCCESS' ? 'fill': 'outline'"></em>
      </span>
      <div class="ant-notification-notice-message">{{ notification.jobName? notification.jobName:
        notification.jobDescription }}</div>
      <div class="ant-notification-notice-description">
        <nz-list>
          <nz-list-item>
            <nz-list-item-meta>
              <nz-list-item-meta-description>
                {{ notification.stepDescription }}
              </nz-list-item-meta-description>
              <nz-list-item-meta-description>
                <ng-container *ngIf="notification.time">
                  <span>{{ notification.time }}</span>
                </ng-container>
              </nz-list-item-meta-description>
              <nz-list-item-meta-description class="job-progress-monitor__list--button job-progress-monitor__list--button-margin">
                <button *ngIf="notification.resultButton" nz-button nzSize="small" nzType="primary"
                  (click)="performAction(notification.resultButton, notification)"
                  class="job-progress-monitor__list--showResult">{{notification.resultButton}}
                </button>
                <button nz-button nzSize="small" [nzLoading]="notification.loadingLogButton"
                  [disabled]="notification.disableActionButton"
                  (click)="performAction(notification.actionLabel, notification)"
                  class="job-progress-monitor__list--showResult">{{notification.actionLabel}}
                </button>
              </nz-list-item-meta-description>
            </nz-list-item-meta>
          </nz-list-item>
        </nz-list>
      </div>
    </div>
  </div>
</ng-template>

<nz-modal [(nzVisible)]="showLogModal" nzTitle="{{logDetails.title}}" [nzContent]="modalContent"
  [nzFooter]="modalFooter" (nzOnCancel)="closeLogModal()" nzWrapClassName="job-progress-monitor__log-container"
  nzClassName="job-progress-monitor__log-modal">
  <ng-template #modalContent>
    <span *ngIf="logDetails.logs;else naContent" [innerText]="logDetails.logs"></span>
  </ng-template>
  <ng-template #naContent>{{'notAvailable' | translate}}</ng-template>
  <ng-template #modalFooter>
    <div class="job-progress-monitor__log-footer">
      <a href="mailto:innowakesupport@deloitte.com">
        {{ 'showLogModal.contactSupport' | translate }}</a>
      <button nz-button nzType="default" nzSize="small" (click)="closeLogModal()">{{ 'db.closeModal' | translate
        }}</button>
    </div>
  </ng-template>
</nz-modal>

<ng-template #removeModalTemplate>
  <p>{{ (removeAllJobs ? 'jobProgressMonitor.removeAllModalText' : 'jobProgressMonitor.modalText') | translate }}</p>
</ng-template>