<nz-header class="mining-header" [ngClass]="showHide">
  <div nz-row nzJustify="space-between">
    <div nz-col  nzFlex="4">
      <div nz-row>
        <a [routerLink]="['/clients']">
          <i nz-icon class="mining-header__logo">
            <img src="assets/mining.svg" alt="Deloitte innoWake Mining Logo" />
          </i>
        </a>
        <div *ngIf="currentClient && currentClient.getClientName()">
          <nz-divider nzType="vertical" class="mining-header__divider"></nz-divider>
          <nz-breadcrumb [nzSeparator]="null" class="mining-header__breadcrumb">
            <nz-breadcrumb-item>
              <a class="mining-header__breadcrumb--item"
                [routerLink]="routeProjectSelection" nz-typography nzEllipsis [nzContent]="currentClient.getClientName()"></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-separator class="mining-header__breadcrumb--item">/</nz-breadcrumb-separator>
            <nz-breadcrumb-item *ngIf="currentClient.getProjectName(); else selectProjectBreadcrumb"
              class="mining-header__breadcrumb--last-item">
              <span nz-typography nzEllipsis [nzContent]="currentClient.getProjectName()"></span>
            </nz-breadcrumb-item>
            <ng-template #selectProjectBreadcrumb>
              <nz-breadcrumb-item class="mining-header__breadcrumb--last-item">
                {{ 'breadcrumb.selectProject' | translate}}
              </nz-breadcrumb-item>
            </ng-template>
          </nz-breadcrumb>
        </div>
      </div>
    </div>

    <div nz-col  nzFlex="3">
      <universal-search [projectId] ="projectId" [currentClient]="currentClient"></universal-search>
    </div>

    <div *ngIf="username" nz-col  nzFlex="3" >
      <div nz-row nzJustify="end">
        <nz-space nzDirection="horizontal">
          <button *nzSpaceItem nzGhost nzSize="small" nzShape="circle" nz-button nz-dropdown [nzDropdownMenu]="contactMenu">
            <em nz-icon nzType="question" nzTheme="outline"></em>
          </button>
          <nz-dropdown-menu #contactMenu="nzDropdownMenu">
            <ul nz-menu>
              <a href="mailto:innowakesupport@deloitte.com">
                <li nz-menu-item class="mining-header__dropdown-menu--item">
                  <nz-space nzDirection="horizontal">
                    <em *nzSpaceItem nz-icon nzType="mail" nzTheme="outline"></em>
                    <span *nzSpaceItem>{{ 'footer.contactSupport' | translate }}</span>
                  </nz-space>
                </li>
              </a>
              <li nz-menu-item class="mining-header__dropdown-menu--item" (click)="handleMiningModal(true)">
                <nz-space nzDirection="horizontal">
                  <em *nzSpaceItem nz-icon nzType="info-circle" nzTheme="outline"></em>
                  <span *nzSpaceItem>{{'footer.aboutMining' | translate}}</span>
                </nz-space>
              </li>
              <li nz-menu-divider></li>
              <li nz-menu-group>
                <span class="mining-footer__version" title nz-typography nzCopyable [nzCopyText]="versionLabel"
                  nzType="secondary">
                  {{ 'footer.versionLabel' | translate:{version:versionLabel} }}
                </span>
              </li>
            </ul>
          </nz-dropdown-menu>
          <job-progress-monitor *nzSpaceItem></job-progress-monitor>
          <nz-avatar nz-dropdown [nzDropdownMenu]="menu" *nzSpaceItem nzSize="small" class="mining-header__user-menu"
            nzText="{{getUserInitials()}}"></nz-avatar>
        </nz-space>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <div *ngIf="keycloakService.isAvailable && isAdmin">
              <li nz-menu-item routerLink="/admin/client-projects">
                <i nz-icon nzType="home" nzTheme="outline"></i>
                <span class="mining-header__dropdown-menu--text">{{'clientsAndProjects' | translate }}</span>
              </li>
              <li *ngIf="isLocalShowcaseActive" nz-menu-item [routerLink]="routeToConfigureView">
                <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                <span class="mining-header__dropdown-menu--text">{{'localShowcaseIsActive' | translate }}</span>
              </li>
              <li nz-menu-divider></li>
            </div>
            <li nz-menu-item (click)="settings()" *ngIf="showSettings">
              <i nz-icon nzType="setting" nzTheme="outline"></i>
              <span class="mining-header__dropdown-menu--text">{{ 'settings' | translate }}</span>
            </li>
            <li nz-menu-item routerLink="/tokens">
              <i nz-icon nzType="key" nzTheme="outline"></i>
              <span class="mining-header__dropdown-menu--text">{{ 'manageTokens.menuTitle' | translate }}</span>
            </li>
            <li nz-menu-item (click)="logout()">
              <i nz-icon nzType="logout" nzTheme="outline"></i>
              <span class="mining-header__dropdown-menu--text">{{ 'logout' | translate }}</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>
</nz-header>

<nz-modal [(nzVisible)]="aboutMiningModalflag" [nzFooter]="null" (nzOnCancel)="handleMiningModal(false)">
  <div *nzModalTitle>{{ 'footer.aboutMining' | translate }}</div>
  <div *nzModalContent>
    <nz-space nzDirection="vertical" nzSize="large">
      <strong *nzSpaceItem>{{ 'footer.helpContent' | translate }}</strong>
      <div *nzSpaceItem>
        <div class="ant-helper-secondary-text" nz-typography nzCopyable [nzCopyText]="versionLabel">
          {{ 'footer.versionLabel' | translate:{version:versionLabel} }}
        </div>
        <div class="ant-helper-secondary-text">
          {{ 'footer.copyRight' | translate }}
          <i nz-icon nzType="copyright" nzTheme="outline"></i> {{copyRightYear}}
          {{ 'footer.rightsReserved' | translate }}
        </div>
      </div>
      <ng-container *ngIf="versionLabel">
        <div *nzSpaceItem>
          <nz-space nzDirection="horizontal" nzSize="large">
            <a target="_blank" *nzSpaceItem
              href="https://www2.deloitte.com/global/en/footerlinks1/cookies.html?icid=bottom_cookies">{{
              'footer.cookieNotice' | translate }}</a>
              <a target="_blank" *nzSpaceItem
              href="https://www2.deloitte.com/us/en/footerlinks1/web-privacy-notice.html">{{
              'footer.privacyNotice' | translate }}</a>
            <span *nzSpaceItem>
              <nz-space nzDirection="horizontal" nzSize="small">
                <span *nzSpaceItem>{{ 'footer.thirtyPartyLicense' | translate }}</span>
                <div *nzSpaceItem class="mining-header__dropdown-menu--text">
                  <a target="_blank" [href]="webLicensesUrl">
                    {{'footer.web' | translate}}
                  </a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a target="_blank" [href]="apiLicensesUrl">
                    {{'footer.api' | translate}}
                  </a>
                </div>
              </nz-space>
            </span>
          </nz-space>
        </div>
      </ng-container>
    </nz-space>
  </div>
</nz-modal>
