<nz-card class="mining__content-margin fa-content" *appLoader="loader.page">
    <div nz-row [nzGutter]="24" *ngIf="functionalAnalysisTree.length; else noFunctionalGroup">
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="7" [nzXl]="7" [nzXXl]="7" class="fa-content__tree-container">
            <p class="fa-content__title">
                <span>{{ 'functionalTree.totalItems' | translate: { item: totalTreeItemsCount} }}</span>
                <nz-divider nzType="vertical"></nz-divider>
                <span>
                    {{ 'functionalTree.unGroupedAnnotations' | translate}}:
                    <span class="fa-content__un-assigned-group">
                        <a (click)="navigateToUnGroupedAnnotationsSavedSearch()">{{unGroupedAnnotations}}</a>
                    </span>
                </span>
            </p>
            <nz-button nzSize="small" class="functional-analysis__sort-img" nz-dropdown [nzDropdownMenu]="menu1" nzTrigger="click">
                <span nz-icon nzType="align-left" nzTheme="outline"></span>
            </nz-button>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item [ngClass]="{'functional-analysis__active-sort': sortState.currentSort === SortDetails.NAME}" (click)="sortByName()">
                        <span nz-icon nzType="sort-ascending" nzTheme="outline" *ngIf="sortState.name === SortDetails.DESC"></span>
                        <span nz-icon nzType="sort-descending" nzTheme="outline" *ngIf="sortState.name === SortDetails.ASC"></span>
                        {{'functionalTree.sortByName' | translate}}
                    </li>
                    <li nz-menu-item [ngClass]="{'functional-analysis__active-sort': sortState.currentSort === SortDetails.LAST_MODIFIED}" (click)="sortByLastModified()">
                        <span nz-icon nzType="arrow-down" nzTheme="outline" *ngIf="sortState.lastModified === SortDetails.DESC"></span>
                        <span nz-icon nzType="arrow-up" nzTheme="outline" *ngIf="sortState.lastModified === SortDetails.ASC"></span>
                        {{'functionalTree.sortByLastModified' | translate}}
                    </li>
                </ul>
            </nz-dropdown-menu>
            <nz-tree nzShowIcon [nzExpandedIcon]="treeIcon" nzDraggable class="fa-content__tree"
                [nzData]="functionalAnalysisTree" (nzExpandChange)="nzEvent($event,'expand')"
                (nzOnDragStart)="onDragStart($event)"
                (nzOnDragOver)="onDragging($event)"
                (nzOnDrop)="onDrop($event)"
                (nzClick)="nzEvent($event, 'click')" [nzExpandedKeys]="defaultExpandedKeys"
                [nzSelectedKeys]="defaultSelectedKeys" [nzSearchFunc]="treeSearch.bind(this)" 
                [nzSearchValue]="filterDetails['blockNameSearch'] ?? null"
                [nzBeforeDrop]="beforeDrop.bind(this)">
                <ng-template #treeIcon let-node let-origin="origin">
                    <ng-container *ngIf="! origin.isLeaf">
                        <span *ngIf = "! origin.isLeaf && origin.children" nz-icon [nzType]="node.isExpanded ? ( ! node.origin.isLoaded ? 'loading' : 'caret-down') : 'caret-right'"
                            class="ant-tree-switcher-line-icon"></span>
                        <label nz-checkbox *ngIf="canEditFB"  [ngClass] ="! origin.isLeaf && origin.children ? 'fa-content__check-box': 'fa-content__check-box-ml'" (ngModelChange)="onGrouping(node)" [(ngModel)]="node.isChecked"></label>
                    </ng-container>
                </ng-template>
                <ng-template #nzTreeTemplate let-node let-origin="origin" nzDraggable>
                    <div class="fa-content__icon-container" *ngIf="origin.isLeaf && origin.type == 'FUNCTIONAL_UNIT'">
                        <label nz-checkbox  [(ngModel)]="origin.isChecked" (ngModelChange)="onAnnotationCheck(node, origin.isChecked)"></label>  
                    </div>
                    <span [class.highlighted]="origin.isHighlighted" nzDraggable
                        class="fa-content__tree-title" [class.fa-content__parent-block]="! origin.isLeaf" [title]="''"
                        nz-tooltip [nzTooltipTitle] = "getTooltipTitle(origin.title)" [ngClass]="! origin.isDescriptionProvided ? 'fa-content__no-description': ''">
                            <img *ngIf="! origin.isLeaf" src="assets/Functional Block_icon.svg" class="fa-content__tree-icon" alt="Functional Block"/>    
                            <span nz-icon [nzType]="'message'" nzDraggable *ngIf="origin.isLeaf && origin.type == 'FUNCTIONAL_UNIT'"
                                class="ant-tree-switcher-line-icon fa-content__msg-icon"></span>
                            <span nz-icon nzType="branches" *ngIf="origin.isLeaf && origin.type == 'FUNCTIONAL_CONDITION'" nzTheme="outline"></span>
                        {{ origin.title }}
                    </span>
                </ng-template>
            </nz-tree>
            <nz-pagination class="fa-content__pagination" [nzPageIndex]="selectedPageIndex + 1"
                [nzTotal]="totalTreeItemsCount" [nzPageSize]="perPage"
                (nzPageIndexChange)="onPaginationChange($event)" nzSimple nzHideOnSinglePage="true">
            </nz-pagination>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="17" [nzXl]="17" [nzXXl]="17" class="fa-content__panel-container">
            <ng-container *ngIf="functionalKeys.length && selectedViewMode === 'details'">
                <ng-container *appLoader="loader.details">
                    <nz-row nzJustify="space-between">
                        <nz-space *ngIf="selectedBlock?.title" [ngClass]="{'fa-content__detail-title': selectedBlock.selectedType !== 'FUNCTIONAL_UNIT'}">
                            <h5 nz-typography>
                                <img *ngIf="! selectedBlock?.isLeaf && selectedBlock.selectedType != 'FUNCTIONAL_UNIT' && selectedBlock.selectedType != 'FUNCTIONAL_CONDITION'" src="assets/Functional Block_icon.svg"
                                    class="fa-content__tree-icon fa-content__select-icon" alt="Functional Block" />
                                <span nz-icon nzType="branches" *ngIf="selectedBlock.selectedType == 'FUNCTIONAL_CONDITION'" nzTheme="outline"
                                class="fa-content__tree-icon fa-content__select-icon"></span> 
                                <span>{{selectedBlock.title}}</span>
                            </h5>
                            <span *ngIf="selectedBlock.selectedType === 'FUNCTIONAL_UNIT'"
                                class="fa-content__annotation-state">{{selectedBlock.annotationState}}</span>
                        </nz-space>
                        <nz-space *ngIf="canEditFB && selectedBlock.uid != '' && selectedBlock.selectedType !== 'FUNCTIONAL_UNIT'">
                            <button  nzSize="small" nz-button nz-dropdown [nzDropdownMenu]="menu2" nzTrigger="click">
                                <i aria-hidden="true" nz-icon nzType="more" nzTheme="outline"></i>
                            </button>
                        </nz-space>
                        <nz-space [nzAlign] ="'baseline'" nzSize="large" *ngIf="selectedBlock.selectedType === 'FUNCTIONAL_UNIT' && selectedBlock.updatedBy">
                            <span  nzSpaceItem  nz-typography nzType="secondary">{{'functionalTree.lastModifiedBy' | translate}}</span>
                            <nz-avatar nzSpaceItem  nzIcon="user" nzSize="small" class ="fa-content__avatar"></nz-avatar>
                            <span nzSpaceItem>{{selectedBlock.updatedBy}}</span>
                        </nz-space>
                    </nz-row>
                    <nz-breadcrumb *ngIf="selectedBlock?.title" class="fa-content__bread-crumbs">
                        <nz-breadcrumb-item class="fa-content__bread-crumbs__item" *ngFor="let item of breadCrumb">{{item}}</nz-breadcrumb-item>
                    </nz-breadcrumb>
                    <nz-collapse nzExpandIconPosition="right" *ngIf="(functionalPanelData | keyvalue)?.length">
                        <nz-collapse-panel *ngFor="let function of functionalKeys" [nzHeader]="panelHeader"
                            [nzActive]="panelState[function]" (click)="toggleDropDown( $event,function)">
                            <p (click)="preventPanelClosing($event)" class="fa-content__panel-data">
                                <ng-template #panelHeader>
                                    <b>{{function}}</b>
                                </ng-template>
                                <ng-container [ngSwitch]="function">
                                    <ng-container *ngSwitchCase="'functionalTree.description' | translate">
                                        <span *ngIf="functionalPanelData[function] else noDescription;"></span>
                                        {{functionalPanelData[function]}}
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'functionalTree.modules' | translate">
                                        <div *ngIf="noTaxModules && functionalPanelData && functionalPanelData[function] && functionalPanelData[function]['taxonomy'] else noModTax">
                                            <div class="fa-content__taxonomy-modules"
                                                *ngFor="let modulesPerTaxonomy of functionalPanelData[function]['taxonomy'] | keyvalue">
                                                <nz-tag>{{modulesPerTaxonomy['key']}}</nz-tag>
                                                <ng-container *ngFor="let module of functionalPanelData[function]['taxonomy'][modulesPerTaxonomy['key']]; let last = last">
                                                    <a [routerLink]="buildRouteForModule(module?.moduleId)"
                                                        class ="fa-content__module-links"
                                                        target="_blank">
                                                        {{module?.moduleName }}
                                                    </a>
                                                    <span *ngIf=" ! last" class ="fa-content__comma">,</span>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <ng-container *ngIf="noTaxModules && functionalPanelData[function] && functionalPanelData[function]['moduleDetails'].length">
                                            <span nz-typography nzType="secondary">{{'functionalTree.modulesWithNoTaxonomies' | translate}}</span>
                                            <ng-container
                                                *ngFor="let module of functionalPanelData[function]['moduleDetails']; let last = last">
                                                <a [routerLink]="buildRouteForModule(module?.moduleId)" target="_blank"
                                                    class ="fa-content__module-links">
                                                    {{module?.moduleName }}
                                                </a>
                                                <span *ngIf=" ! last" class ="fa-content__comma">,</span>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'functionalTree.code' | translate">
                                        <nz-space nzDirection="vertical" nzSize="middle" *appLoader="loader.code">
                                            <span class="fa-content__functional-block" *ngIf="! selectedBlock?.isLeaf">
                                                <img src="assets/Functional Block_icon.svg" alt="Functional Block"
                                                    class=" fa-content__tree-icon fa-content__icon" />
                                                <b>{{selectedBlock.title}}</b>
                                            </span>
                                            <ng-container *ngIf="selectedBlockAnnotations.length; else noFunctionalGroup">
                                                <cdk-virtual-scroll-viewport itemSize="10" class="fa-content__infinitescroll"
                                                infiniteScroll
                                                [infiniteScrollDistance]="4"
                                                [infiniteScrollThrottle]="10"
                                                [scrollWindow]="false"
                                                (scrolled)="onScroll()">
                                                    <ng-container *ngFor="let code of selectedBlockAnnotations;trackBy:trackByKey" class="fa-content__container-spacing">
                                                        <span class="fa-content__module-name" *ngIf="code.fgName">
                                                            {{code.fgName}}
                                                        </span>
                                                        <div>
                                                            <span class="fa-content__module-name">
                                                                <span class="fa-content__module-label">
                                                                    {{'functionalTree.module'| translate}}:
                                                                </span>
                                                                <span>{{code.moduleDetails.name}}</span>
                                                            </span>
                                                            <mining-monaco-editor 
                                                                [options]="code.EditorOption"
                                                                [code]="code.content"
                                                                [projectId]="projectId"
                                                                [moduleId]="code?.moduleDetails?.id"
                                                                [dynamicHeight]="true"
                                                                [maxHeight]="true"
                                                                (init)="onMonacoInit($event , code['codeAnnotation'])">
                                                            </mining-monaco-editor>
                                                            <br/>
                                                        </div>
                                                    </ng-container>
                                                    <nz-spin *ngIf="loadingAnnotations" class="fa-content__loader"></nz-spin>
                                                </cdk-virtual-scroll-viewport>
                                            </ng-container>
                                        </nz-space>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'functionalTree.additionalDetails' | translate">
                                        <nz-table [nzTitle]="noTableTitle"
                                            [nzData]= "functionalPanelData[function]['annotationData']"
                                            [nzFrontPagination]="false">
                                            <tbody>
                                                <tr *ngFor="let item of functionalPanelData[function]['annotationData']">
                                                    <td>{{item?.key}}</td>
                                                    <td>{{ item?.value }}</td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                        <ng-template #noTableTitle><span 
                                            [ngClass] ="! isDescriptionAvailable ? 'fa-content__no-description': ''"
                                            >{{functionalPanelData[function]['description']}}</span>
                                        </ng-template>
                                    </ng-container>
                                </ng-container>
                            </p>
                        </nz-collapse-panel>
                    </nz-collapse>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="selectedViewMode === 'graph'">
                <ng-container *ngIf="graphInfo else noFunctionalGroup">
                    <ng-container *appLoader="loader.details">
                    <functional-analysis-graph *appLoader="loader.details" [fbUid]="selectedBlock.uid" [graphInfo]="graphInfo" [enableRestoreBranch] = "enableRestoreBranch" [excludedBranches]="excludedBranches" [projectId]="projectId" (recreateGraph)="handleReCreateGraph()" (emitRestoreEvent)="handleRestore()"></functional-analysis-graph>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</nz-card>
<ng-template #noFunctionalGroup>
    <nz-empty nzNotFoundImage="simple" nzNotFoundContent="No Content Available"></nz-empty>
</ng-template>
<nz-dropdown-menu #menu2="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item (click)="updateFunctionalBlock()">{{'reachability.editNameAndDescriptionLabel' | translate}}
        </li>
        <li nz-menu-item (click)="onDeleteFunctionGroup()" class="ant-helper__highlight-text">
            {{'functionalAnalysis.unGroupedModalOkBtnTxt' | translate}}</li>
    </ul>
</nz-dropdown-menu>

<ng-template #noModTax><span class ="fa-content__no-ModTax">{{'functionalAnalysis.noModuleTaxonomies' | translate}}</span></ng-template>
<ng-template #noDescription><span class ="fa-content__no-description">{{'reachability.noDescription' | translate}}</span></ng-template>