<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fw2.orm.xlsx -->
      <package
            uri="http://fw2.orm.xlsx/1.0"
            class="fw2.orm.xlsx.XlsxPackage"
            genModel="src/main/resources/model/fw2.orm.xlsx.genmodel"/>
   </extension>

</plugin>
