<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer-Confirmation</title>
</head>

<body>

    The Customer is confirmed: <span th:text="${customer.firstName + ' ' + customer.lastName}" />

    <br><br>
    Free passes count is: <span th:text="${customer.freePass}"></span>

    <br><br>
    Postal Code is: <span th:text="${customer.postalCode}"></span>

    <br><br>
    Course Code is: <span th:text="${customer.courseCode}"></span>

</body>

</html>