<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		
		<Routing name="job">
			<Routes pattern="$${ctx:job-id}">
				<!-- Log to console when the job-id is not set -->
				<Route key="$${ctx:job-id}" ref="Console" />
				<Route>
					<File name="jobAppender-${ctx:job-id}"
						fileName="${sys:job-api.log.logFolder}/${sys:job-api.log.logFilePrefix}${ctx:job-id}.log">
						<Filters>
							<ThresholdFilter level="trace" onMatch="accept" />
						</Filters>
						<PatternLayout pattern="[%X{traceId},%X{spanId},%X{parentId}] [%t] - %msg%n" />
					</File>
				</Route>
			</Routes>
		</Routing>
	</Appenders>

	<Loggers>
		<Logger name="test.siftingFile" level="INFO">
			<AppenderRef ref="job" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

		<Logger name="innowake.lib.job.job-monitor" level="debug" />
	</Loggers>

</Configuration>