<form class="data-lineage" nz-form [formGroup]="dataLineageForm" nzLayout="vertical" nzSize="middle">
  <nz-form-item class ="data-lineage__form-label">
    <nz-form-label [nzSpan]="10" nzFor="lineage-level">{{'dataLineage.selectTitle' | translate}}
    </nz-form-label>
    <nz-form-control [nzSpan]="8">
      <nz-select formControlName="dataLineageSelection" name="lineage-level" (ngModelChange)="onDataLineageChange()">
        <nz-option *ngFor="let level of dataLineageLevels" [nzValue]="level" [nzLabel]="level"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <ng-container>
    <i nz-icon class="ant-helper-info-icon data-lineage__info-icon" nzType="info-circle" nzTheme="outline"></i>
    <span class="data-lineage__modal_txt">{{selectedDataLevel}}</span>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" [disabled]="isDataLineageExporting" (click)="closeDataLineageModal()">{{
      'dataLineage.modalCancelBtn' | translate }}</button>
    <button nz-button nzType="primary" [nzLoading]="isDataLineageExporting" (click)="exportDataLineage()">{{
      'dataLineage.modalExportBtn' | translate }}</button>
  </div>
</form>