.login-page__body {
    display: flex;
}

.login-page__half-page {
    width: 50vw;
}

.login-page__login-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.login-page__footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    padding: 20px 50px;
    align-items: baseline;
}

.gradient-overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(25, 152, 171, 0.65), rgba(33, 44, 101, 0.65)), url('../img/Background-Login.jpg');
    background-size: 50vw 100vh;
    background-repeat: no-repeat;
}

.backgroung-overlay {
    height: 100%;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
}

.logo-layer {
    position: absolute;
    height: 100%;
    width: 50vw;
    padding: 25px;
}

.logo-deloite {
    float: left;
}

.logo-appmod {
    float: right;
}

.logo-mining {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.logo-mining > svg {
    width: max-content;
}

.login-page_width {
    width: 25vw;
}

.anticon {
    margin-top: 4px;
}

@media only screen and (max-width: 1340px) {
    .login-page__footer {
        padding: 0 25px;
        display: block;
        width: auto;
    }

    .login-page__footer > div:last-child > a {
        padding-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .login-page__body {
        display: initial;
    }
    
    .login-page__half-page {
        width: 100vw;
        height: 45vh;
    }
    
    .gradient-overlay {
        background-size: 100vw 45vh;
    }
    
    .backgroung-overlay {
        height: 45vh;
        width: 100vw;
    }
    
    .logo-layer {
        height: 45vh;
        width: 100vw;
        padding: 25px;
    }

    .logo-mining {
        top: 25%;
        left:50%;
    }

    .login-page_width {
        width: 100%;
        padding: 0 25px;
    }

    .login-page__login-card {
        justify-content: flex-start;
        padding: 32px 0;
        height: auto;
    }
}

#kc-logout {
    width: 100% !important;
    visibility: visible !important;
}