<nz-content>
  <mn-customizable-table-core-component [usage]="usage" [graphQlType]="graphQlType" [projectId]="projectId"
    [moduleIdForPreFiltering]="moduleIdForPreFiltering" [internalDataPoints]="internalDataPoints"
    [refreshCoreTable]="refreshCoreTable" [pageType]="pageType" [additionalTableConfig]="tableConfig" [allowSelectDeselectRows]="allowSelectDeselectRows"
    [rowActions]="rowActions" (optionSelected)="handleSelectedOption($event)" [entity]="entity">
  </mn-customizable-table-core-component>
</nz-content>

<ng-template>
  <app-shared-editor-header [moduleTitle]="headerTitle" [modulePath]="module.path">
  </app-shared-editor-header>
</ng-template>