<nz-alert *ngIf="undiscoveredDependencies.length > 0" nzType="warning" [nzMessage]="alertContent" nzShowIcon></nz-alert>
<div nz-row nzJustify="end" class="ant-helper__background-white">
  <div nz-col>
    <a nz-button nzType="link" [routerLink]="routeDependencies">{{'module.graphs.dependencyGraph' | translate}}</a>
  </div>
</div>
<mn-customizable-table-core-component [internalDataPoints]="internalDataPoints" [usage]="usage"
  [graphQlType]="graphQlType" [projectId]="projectId" [pageType]="pageType"
  [additionalGraphQLParams]="additionalGraphQLParams" [entity]="entity">
</mn-customizable-table-core-component>

<ng-template #alertContent>
  <div nz-row nz-justify="space-between">
    <div nz-col nzFlex="auto">
      <span>{{'undiscoveredDependenciesAlert' | translate: {count : undiscoveredDependencies.length } }}</span>
    </div>
    <span nz-col>
      <button nz-button nzSize="small" nzType="primary" (click)="navigateToErrorTab()">
        {{'viewNow' | translate}}
      </button>
    </span>
  </div>
</ng-template>
