<div class="login-container" [ngStyle]="{ 'background-image': 'url(' + bgImagePath + ')'}">
  <div nz-row  class="login-box">
    <div nz-col nzSpan="16" class="login-box__brand">
      <img class="login-box__logo" src="assets/mining.png" alt="mining logo" />
      <div class="login-box__title">
        <span> 
          inno
          <span class="login-box__title--text-secondary-color">Wake™</span> 
        </span>
        <span>Mining.</span>
      </div>
      <div class="login-box__tagline" translate>
        login.tag
      </div>
      <div class="login-box__footer">
        <p class="login-box__footer--text-long">{{ 'footer.versionLabel' | translate:{version:version} }}</p>
        <p class="login-box__footer--text-long" translate>login.copyright</p>
      </div>
    </div>
    <div nz-col nzSpan="8" class="login-box__card">
      <div class="login-box__card-body">
        <form nz-form class="login-form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
          <nz-alert nzType="error" *ngIf="error && !isLoading"  [nzMessage]="'login.incorrectUsernamePassword' | translate"></nz-alert>
          <h1 translate>login.loginLabel</h1>
            <nz-form-item>
              <input nz-input
                type="text"
                formControlName="username"
                autocomplete="username"
                [placeholder]="'login.username' | translate"
              />
              <span hidden translate>login.username</span>
              <small
                [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                class="login-form__error-text"
                translate
              >
                login.usernameRequired
              </small>
            </nz-form-item>
            <nz-form-item>
              <input nz-input
                type="password"
                formControlName="password"
                [placeholder]="'login.password' | translate"
                required
              />
              <span hidden translate>login.password</span>
              <small
                [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                class="login-form__error-text"
                translate
              >
                login.passwordRequired
              </small>
            </nz-form-item>
            <div class="login-form__remember-me-input">
              <label>
                <input type="checkbox" class="login-form__remember-me-input" formControlName="remember" />
                <span class="login-form__remember-me-text" translate>login.rememberMe</span>
              </label>
            </div>
              <div nz-row>
                <button nz-button type="submit" [nzType]="'primary'" [disabled]="loginForm.invalid || isLoading">
                  <!-- Need to add loading icon-->
                  <span translate>login.loginLabel</span>
                </button>
              </div>
        </form>
        <div>
          <a href="" translate>login.forgotPassword</a>
          <a href="" translate>login.register</a>
          <a href="" translate>login.help</a>
        </div>
      </div>
    </div>
  </div>
</div>
